# Problem Set 4 


___
Aakanksha Dutta [adutta5@u.rochester.edu](adutta5@u.rochester.edu) and Aabha Pandit [apandit@u.rochester.edu](apandit@u.rochester.edu)

_____

In [4]:
import pandas as pd
import numpy as np
from numpy.linalg import eig
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
moral_df = pd.read_excel('moral_machine_data.xlsx')
moral_df.info()

#rename columns to clean them up
col_list = [col for col in moral_df.columns]
col_list_renamed = [col.strip() for col in col_list]

renamer = dict(zip(col_list, col_list_renamed))
moral_df.rename(mapper=renamer)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1483 entries, 0 to 1482
Columns: 148 entries, age to cat_no_of_pedestrians_on_other_lane_saved
dtypes: int64(139), object(9)
memory usage: 1.7+ MB

,age,gender,grown_up_in_US,grown_up_in_a_foreign_country,city_of_origin,state_of_origin,region_of_origin,country_of_origin,no_of_sisters,no_of_brothers,...,dog_no_of_pedestrians_on_other_lane_died,dog_no_of_passengers_saved,dog_no_of_pedestrians_on_lane_ahead_saved,dog_no_of_pedestrians_on_other_lane_saved,cat_no_of_passengers_died,cat_no_of_pedestrians_on_lane_ahead_died,cat_no_of_pedestrians_on_other_lane_died,cat_no_of_passengers_saved,cat_no_of_pedestrians_on_lane_ahead_saved,cat_no_of_pedestrians_on_other_lane_saved
0,21,m,0,1,kolkata,west bengal,NaN,india,0,0,...,0,0,0,0,0,0,0,0,0,0
1,21,m,0,1,kolkata,west bengal,NaN,india,0,0,...,0,0,0,0,0,0,0,0,0,0
2,21,m,0,1,kolkata,west bengal,NaN,india,0,0,...,0,0,0,0,0,0,0,0,0,0
3,21,m,0,1,kolkata,west bengal,NaN,india,0,0,...,0,0,0,0,0,1,0,0,0,0
4,21,m,0,1,kolkata,west bengal,NaN,india,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478,22,m,0,1,changde,hunan,NaN,china,0,0,...,0,1,1,0,0,0,0,0,0,0
1479,22,m,0,1,changde,hunan,NaN,china,0,0,...,0,0,0,0,0,0,0,0,0,0
1480,22,m,0,1,changde,hunan,NaN,china,0,0,...,0,0,0,0,0,0,0,0,0,0
1481,22,m,0,1,changde,hunan,NaN,china,0,0,...,0,0,0,0,0,0,0,0,0,0
1482,22,m,0,1,changde,hunan,NaN,china,0,0,...,0,0,0,0,0,0,0,0,0,0

## Question 2

1. [10 points] Code the PCA algorithm from scratch. (Note: Your code should be able to
process any m x n dataset). (Note: Set random.seed(265) before you start).

2. [10 points] Test your algorithm on the columns that denote ‘the results of your decision’
(more information can be found in the data dictionary above). (Note: Set number of
dimensions to 2).

In [6]:
import random
random.seed(265)

In [7]:
# standardize data
def standardize(mat):
    mean = np.mean(mat, axis=0)
    std = np.std(mat, axis=0)
    return (mat - mean)/std
    
def covariance(mat):
    return np.cov(mat.T)

# find eigenvectors and eigenvalues of covariance matrix
# sort eigenvectors acc to magnitude
# choose top k and create transformation matrix
def extract_principal_components(mat, k=2):
    vals, vecs = eig(mat)
    abs_vec = np.abs(vecs)
    #making largest eigenvector positive directioned (for reference)
    vecs = (vecs*np.sign(vecs[np.argmax(abs_vec, axis=0), :])).T
    pairs = [(vals[i], vecs[i]) for i in range(len(vals))]
    pairs.sort(key=lambda x: x[0], reverse=True)
    top_k_vecs = np.array([vecs[i] for i in range(len(vecs))])[:k, :]
    return top_k_vecs

# transform matrix to one in k dimensions
def transform(top_k_vecs, og_mat):
    return og_mat.dot(top_k_vecs.T)

In [8]:
# apply on the results columns (ending in _saved or _died)
result_cols = [col for col in moral_df.columns if col.endswith('_saved') or col.endswith('_died')]

matrix = moral_df[result_cols]
matrix = standardize(matrix)
covar_matrix = covariance(matrix)
transformation_mat = extract_principal_components(covar_matrix)
new_matrix = transform(transformation_mat, matrix)

In [9]:
new_matrix #with new components

             0         1
0    -0.542107 -1.419617
1     0.009811  0.320212
2     0.448330 -0.586891
3    -0.117906  0.181712
4     0.393012 -0.353074
...        ...       ...
1478  1.976357  0.832954
1479 -0.174411  2.006324
1480  1.475993  3.301404
1481 -0.107228  2.451157
1482  0.709623 -0.002098

[1483 rows x 2 columns]

## Question 3

Using the two principal components you obtained in Q1, create five scatterplots
for the following five columns by using the visualization_code.py file in the assignment folder.
Cluster labels will be determined by the unique values in columns of the dataset (you don’t
need to run a separate clustering algorithm, but you will need to create class labels for some
of the observations in the columns below) (example: USA = Cluster 0, India = Cluster 1 etc.):
1. [3 points] age
2. [3 points] gender
3. [3 points] grown_up_in_US
4. [3 points] country_of_origin
5. [3 points] no_of_siblings (you will need to create a new column by doing: no_of_sisters + no_of_brothers)
6. [5 points] Interpret the visuals you obtained above in around 200 words. Specifically: Do
you see any patterns? Which column do you think creates the best clustering pattern?

In [4]:
#TODO : Aabha

## Question 4
Repeat Q2, this time using spectral embedding for dimensionality reduction.
Please answer the following:
1. [10 points] What is spectral embedding? Please do some online research and explain how
spectral embedding works in around 200 words.
2. [10 points] Using the SpectralEmbedding module of sklearn2, create the same
set of five graphs (1 point each). Interpret the results in around 150 words (5 points).
Specifically: Do you see any patterns? Which column do you think creates the best
clustering pattern? And: Are the results better than PCA?

1. Spectral Embedding is a non linear dimensionality reduction technique that preserves local relationships, especially those used in graph structures or for clustering. Unlike PCA which decomposes the covariance matrix, spectral embedding performs eigendecomposition on a Laplacian matrix that  preserves the relationship between data points. The resulting eigenvectors represent the relationships in a lower dimensional space

    The process begins by representing the dataset as a similarity graph, where each data point is a node, and edges between nodes indicate similarity based on a chosen metric. The strength of these connections is quantified in an adjacency matrix. From this, the degree matrix is computed, containing the sum of connections or the degree of the nodes The graph Laplacian is then derived by subtracting the adjacency matrix from the degree matrix. This Laplacian matrix encapsulates the structure of the data.​
 
    By performing eigendecomposition on the Laplacian matrix, we obtain its eigenvalues and eigenvectors. Unlike PCA which looks at the k largest eigenvectors, this method finds k smallest non-zero eigenvalues. This is low magnitude eigenvalues represent slowly varying eigenvectors, which capture global structure and broad patterns in the data. Conversely, large eigenvalues capture diversity and high frequency changes in the dataset.
 
    Spectral embedding is particularly effective for clustering tasks, especially when dealing with data that exhibits complex, non-convex patterns. It has applications in various fields, including image segmentation, social network analysis, and bioinformatics, where understanding the underlying manifold structure of the data is crucial. ​

In [58]:
from sklearn.manifold import SpectralEmbedding
X = moral_df[result_cols]
embedding = SpectralEmbedding(n_components=2)
X_transformed = embedding.fit_transform(X)
print(f"Matrix X of dim {X.shape} -> Transformed Matrix of dim {X_transformed.shape}")

Matrix X of dim (1483, 120) -> Transformed Matrix of dim (1483, 2)

In [48]:
#TODO: @Aabha : can u recreate the graphs for q1 here too!

## Question 5
[20 points] Repeat Q2, this time using T-SNE for dimensionality reduction. Please answer the
following:
1. [10 points] What is T-SNE? Please do some online research and explain how T-SNE works
in around 200 words.
2. [10 points] Using the TSNE module of sklearn3, create the same set of five graphs (1
point each). Interpret the results 150 words (5 points). Specifically: Do you see any
patterns? Which column do you think creates the best clustering pattern? And: Compare
the results to PCA and Spectral Embedding. Are the results any better?

1. T-SNE (t-Distributed Stochastic Neighbor Embedding) is a non-linear dimensionality reduction technique that uses probabilistic pairwise similarity between data points in both high-dimensional and low-dimensional spaces to ensure that similar points remain close together in the embedding.        

    The process begins by calculating pairwise similarities between data points using a Gaussian distribution based on Euclidean distances. Points that are closer in high-dimensional space have higher similarity scores.

    Next, T-SNE randomly initializes a set of points in the lower-dimensional space (usually 2D or 3D) and computes pairwise similarities between them using a Student’s t-distribution. The t-distribution’s heavy tails allow for better separation of distant points, avoiding crowding in the lower dimensions.

    To align the high-dimensional similarities with the low-dimensional ones, the algorithm minimizes the Kullback-Leibler (KL) divergence, a measure of dissimilarity between the two distributions, using gradient descent.

    T-SNE is highly effective for visualizing complex data, often revealing clusters and patterns. However, it is computationally expensive and does not preserve global structure as well as local relationships, making it more suitable for data exploration rather than precise metric-based analysis.

In [59]:
from sklearn.manifold import TSNE
X_tsne = TSNE(n_components=2, 
                  learning_rate='auto',
                  init='random', 
                  perplexity=3).fit_transform(X)
print(f"Matrix X of dim {X.shape} -> Transformed Matrix of dim {X_tsne.shape}")

Matrix X of dim (1483, 120) -> Transformed Matrix of dim (1483, 2)

In [49]:
#TODO: @Aabha: Can you do the visuals?

## Question 6

Finally, create a correlation matrix4 that looks at the correlations between all of
the numerical and numerically coded variables in your dataset (excluding the string variables) and also the six new dimension reduction columns you created in Q2, Q3, and Q4. Please do
the following:
1. [5 points] Create the correlation matrix.
2. [5 points] Interpret the results in around 250 words. Specifically, answer the
following: Are there any variables that are strongly correlated? (i) Are there any
variables from the original dataset that are strongly correlated with the dimension
reduction variables? (ii) Do you think there are any variables in the original dataset
that are strongly represented by the dimension reduction variables? (iii)

In [80]:
numeric_cols = moral_df.select_dtypes(include=np.number)

#adding our embeddings
numeric_cols['spectral_c1'] = X_transformed.T[0]
numeric_cols['spectral_c2'] = X_transformed.T[1]

numeric_cols['tsne_c1'] = X_tsne.T[0]
numeric_cols['tsne_c2'] = X_tsne.T[1]

numeric_cols['pca_c1'] = new_matrix[0]
numeric_cols['pca_c2'] = new_matrix[1]

print(numeric_cols.columns[-6:])

Index(['spectral_c1', 'spectral_c2', 'tsne_c1', 'tsne_c2', 'pca_c1', 'pca_c2'], dtype='object')

In [104]:
corr_matrix = numeric_cols.corr()


corr_pairs = corr_matrix.unstack()
corr_pairs = corr_pairs[corr_pairs != 1]


# drop duplicate pairs 
corr_pairs = corr_pairs.sort_index()
corr_pairs = corr_pairs[corr_pairs.index.get_level_values(0) < corr_pairs.index.get_level_values(1)]


threshold = 0.5
significant_corrs = corr_pairs[abs(corr_pairs) > threshold]
significant_corrs = significant_corrs.sort_values(ascending=False, key=lambda x:np.abs(x))

# top N significant unique pairs
top_n = significant_corrs.head(15)  
print(top_n)

pedestrians_ahead_vs_passengers           pedestrians_on_other_lane_crossing   -0.963335
passengers_in_the_self_driving_car        pedestrians_vs_pedestrians           -0.960889
passengers_vs_pedestrians_on_other_lane   pedestrians_on_lane_crossing_ahead   -0.943989
cat_no_of_pedestrians_on_lane_ahead_died  spectral_c2                           0.790923
dog_no_of_pedestrians_on_lane_ahead_died  spectral_c2                           0.762263
spectral_c1                               tsne_c1                               0.728717
pedestrians_on_lane_ahead_should_die      spectral_c1                           0.682536
pedestrians_ahead_vs_passengers           pedestrians_vs_pedestrians           -0.653102
pedestrians_on_other_lane_crossing        pedestrians_vs_pedestrians            0.634352
passengers_in_the_self_driving_car        pedestrians_ahead_vs_passengers       0.625799
                                          pedestrians_on_other_lane_crossing   -0.613140
pedestrians_on_lane_ahead_should_die      tsne_c1                               0.609631
illegal_crossing_ahead                    legal_crossing_ahead                 -0.587021
                                          traffic_lights                        0.566835
passengers_in_the_car_should_die          passengers_in_the_self_driving_car    0.565733
dtype: float64